/* Posts Page CSS */
/* Posts Page CSS */

body {
    max-width: 1200px;
    margin: 0 auto;
    
  }
  
  .postInput {
    font-size: 1.25rem;
    padding: 15px 10px;
    resize: none;
  }
  
  .postInput:focus {
    border: none;
    box-shadow: none;
  }
  
  .f-xblue{
    fill: rgb(29, 155, 240);
  }
  
  .bg-xblue {
    background-color: rgb(29, 155, 240) ;
  }
  
  .c-xblue {
      color: rgb(29, 155, 240);
  }